.container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
}

.titleContainer * {
  text-align: center;
}

.titleContainer h1 {
  font: var(--font-headline-03);
  color: var(--color-neutral-03);
}

.titleContainer p {
  font: var(--font-body-subtitle);
  color: var(--color-neutral-04);
}

img {
  position: absolute;
  bottom: 24px;
  max-width: var(--spacing-size-80);
  width: 100%;
  height: auto;
}
