.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
  max-width: 22.5rem;

  @media (max-width: 884px) {
    max-width: var(--spacing-size-260);
  }
}

.container * {
  transition: var(--transition-default);
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-neutral-04) / 0.8);
  width: 100%;
  height: 100%;
  z-index: var(--zindex-100);
  gap: var(--spacing-size-8);
  opacity: 0;
}

.gitHub {
  font: var(--font-body-large-bold);
  color: rgb(var(--color-neutral-01));

  @media (max-width: 884px) {
    font: var(--font-body-medium-bold);
  }
}

.gitHubIcon {
  font-size: var(--spacing-size-24);
  color: rgb(var(--color-neutral-01));

  @media (max-width: 884px) {
    font-size: var(--spacing-size-16);
  }
}

.previewContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  clip-path: inset(0 round var(--spacing-size-16));
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--spacing-size-40);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(var(--color-neutral-04) / 0.8);
  backdrop-filter: var(--background-blur);
  font: var(--font-body-medium-bold);
  color: rgb(var(--color-neutral-01));
  z-index: var(--zindex-100);

  @media (max-width: 884px) {
    font: var(--font-body-small-bold);
  }
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 9 / 6;
  object-fit: cover;
}

.description {
  width: 100%;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font: var(--font-body-medium-regular);
  color: rgb(var(--color-text));
  text-align: center;

  @media (max-width: 884px) {
    font: var(--font-body-small-regular);
  }
}

.techsContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-4);
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-size-44);
  aspect-ratio: 1;
  border-radius: var(--radius-circular);
  border: var(--spacing-size-2) solid rgb(var(--color-main) / 0.4);

  @media (max-width: 884px) {
    width: var(--spacing-size-28);
  }
}

.icon {
  width: min(var(--spacing-size-28), 64%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-size-4);
  aspect-ratio: 1;
  background-color: rgb(var(--color-main) / 0.4);
  border: 0.0625rem solid rgb(var(--color-main) / 0.4);
  border-radius: var(--radius-circular);
}

.icon * {
  width: min(var(--spacing-size-20), 71%);
  font-size: var(--spacing-size-20);
  color: rgb(var(--color-text));
  fill: rgb(var(--color-text));
}

.container:hover .title,
.container:hover .image {
  opacity: 0;
}

.container:hover .overlay {
  opacity: 1;
}

.container:hover .tech,
.container:hover .icon {
  border-color: rgb(var(--color-main));
}
