.content {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-size-40);

  @media (max-width: 884px) {
    flex-direction: column;
  }
}

.designContainer .label,
.socialTitle {
  font: var(--font-headline-04);
  color: rgb(var(--color-text));
  text-align: center;

  @media (max-width: 480px) {
    font: var(--font-headline-05);
  }
}

.designContainer,
.socialContainer {
  min-width: var(--spacing-size-520);
  width: min-content;
}

.linksContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-24);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-8);
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-8);

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.designContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-24);
}

.designContainer .label span {
  color: rgb(var(--color-main));
}

.designContainer .figmaBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-12);
  background-color: rgb(var(--color-main));
  color: rgb(var(--color-bg));
  border-radius: var(--radius-16);
  padding: var(--spacing-size-12) var(--spacing-size-20);
  transition: var(--transition-default);
}

.figmaBtn .figmaIcon {
  z-index: var(--zindex-100);
}

.figmaBtn .figmaIcon * {
  font-size: var(--spacing-size-48);
}

.figmaBtn .diamond {
  width: var(--spacing-size-12);
  aspect-ratio: 1;
  background-color: rgb(var(--color-bg));
  transform: rotate(45deg);
  z-index: var(--zindex-100);
}

.figmaBtn .figmaLabel {
  font: var(--font-body-large-bold);
  z-index: var(--zindex-100);
}

.figmaBtn:hover {
  filter: var(--brightness-dark);
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid rgb(var(--color-main));
}

.ring:nth-child(1) {
  border-width: var(--spacing-size-4);
  width: max(var(--spacing-size-312), 100%);
  height: var(--spacing-size-108);
  border-radius: var(--radius-32);
}

.ring:nth-child(2) {
  border-width: var(--spacing-size-2);
  width: max(var(--spacing-size-292), 100%);
  height: var(--spacing-size-88);
  border-radius: var(--radius-24);
}

.constellation {
  position: absolute;
  top: 15.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: auto;
  z-index: var(--zindex-1);
  pointer-events: none;
}
