.content {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-60);

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.content h3 {
  font: var(--font-headline-04);
  color: var(--color-text);
  text-align: center;

  @media (max-width: 576px) {
    font: var(--font-headline-05);
  }
}

.linksContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
}

.socialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-8);
}

.titleContainer > span {
  font-size: var(--spacing-size-48);
  color: var(--color-text);
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-8);

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.divisor {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  height: var(--spacing-size-4);
  background-color: var(--color-title);
}

.diamond {
  width: var(--spacing-size-32);
  aspect-ratio: 1 / 1;
  background-color: var(--color-title);
  transform: rotate(45deg);
}

.designContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-24);
}

.designContainer h3 span {
  color: var(--color-main);
  font-weight: 700;
}

.designContainer a {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-size-12);
  background-color: var(--color-main);
  color: var(--color-text);
  border-radius: var(--radius-16);
  padding: var(--spacing-size-12) var(--spacing-size-20);
  overflow: hidden;
  transition: var(--transition-default);
}

.designContainer a::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: var(--linear-gradient);
  transition: var(--transition-default);
}

.designContainer a:hover {
  box-shadow: var(--box-shadow);
}

.designContainer a:hover::before {
  opacity: 1;
}

.designContainer a span {
  z-index: var(--zindex-100);
}

.designContainer a span * {
  font-size: var(--spacing-size-48);
}

.designContainer div {
  width: var(--spacing-size-12);
  aspect-ratio: 1 / 1;
  background-color: var(--color-text);
  transform: rotate(45deg);
  z-index: var(--zindex-100);
}

.designContainer a p {
  font: var(--font-body-medium-bold);
  z-index: var(--zindex-100);
}

.img {
  width: 33.875rem; /* 542px */
  aspect-ratio: 271 / 234;

  @media (max-width: 576px) {
    width: var(--spacing-size-256);
  }
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
