.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-8);
}

.listTitleContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-12);
}

.bullet {
  width: var(--spacing-size-16);
  aspect-ratio: 1;
  background-color: rgb(var(--color-main));
  border-radius: var(--radius-circular);
}

.listTitleContainer .headline {
  font: var(--font-headline-05);
  color: rgb(var(--color-text));
}

.container .paragraph {
  font: var(--font-body-medium-regular);
  color: rgb(var(--color-text));
}
