.container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);

  @media (max-width: 576px) {
    width: 80vw;
  }
}

.mainTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-32);
}

.lineContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  height: var(--spacing-size-4);
  background-color: var(--color-main);
}

.lineLeft {
  transform-origin: right;
}

.lineRight {
  transform-origin: left;
}

.diamond {
  width: var(--spacing-size-16);
  aspect-ratio: 1 / 1;
  background-color: var(--color-main);
  transform: rotate(45deg);

  @media (max-width: 1200px) {
    width: var(--spacing-size-12);
  }
}

.mainTitleContainer h2 {
  font: var(--font-headline-02);
  color: var(--color-title);

  @media (max-width: 576px) {
    font: var(--font-headline-04);
    font-weight: 700;
  }
}

.container p {
  font: var(--font-body-large-regular);
  color: var(--color-text);
  text-align: center;

  @media (max-width: 576px) {
    font: var(--font-body-small-regular);
  }
}
