.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
  padding: var(--margin-desktop);
}

.mainTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-32);
}

.lineContainer {
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  height: var(--spacing-size-4);
  background-color: var(--color-main);
}

.diamond {
  width: var(--spacing-size-16);
  aspect-ratio: 1 / 1;
  background-color: var(--color-main);
  transform: rotate(45deg);
}

.mainTitleContainer h2 {
  font: var(--font-headline-02);
  color: var(--color-title);
}

.container p {
  font: var(--font-body-large-regular);
  color: var(--color-text);
  text-align: center;
}
