.container {
  width: 88vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);

  @media (max-width: 884px) {
    width: 90vw;
  }
}

.mainTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-32);
}

.lineContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.line {
  width: 100%;
  height: var(--spacing-size-4);
  background-color: rgb(var(--color-main));
}

.lineLeft {
  transform-origin: right;
}

.lineRight {
  transform-origin: left;
}

.diamond {
  width: var(--spacing-size-12);
  aspect-ratio: 1;
  background-color: rgb(var(--color-main));
  transform: rotate(45deg);

  @media (max-width: 884px) {
    width: var(--spacing-size-12);
  }
}

.mainTitleContainer h2 {
  font: var(--font-headline-02);
  color: rgb(var(--color-title));
  text-transform: uppercase;

  @media (max-width: 884px) {
    font: var(--font-headline-03);
  }

  @media (max-width: 480px) {
    font: var(--font-headline-04);
  }
}

.container p {
  font: var(--font-body-subtitle);
  color: rgb(var(--color-text));
  text-align: center;

  @media (max-width: 480px) {
    font: var(--font-body-large-medium);
  }
}
