.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-64);
  padding: var(--margin-desktop);
  border: 1px solid red;
}

.content {
}

.profileContainer {
}

.ring {
}

.firstRing {
}

.secondRing {
}

.infosContainer {
}

.titleContainer {
}

.infos {
}
