.container {
  align-items: flex-end !important;

  @media (max-width: 884px) {
    align-items: center !important;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-64);

  @media (max-width: 884px) {
    flex-direction: column-reverse;
  }
}

.profileContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29rem;
  aspect-ratio: 1;

  @media (max-width: 884px) {
    position: relative;
    left: 0;
    max-width: 21.25rem;
  }

  @media (max-width: 480px) {
    max-width: var(--spacing-size-292);
  }
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border: solid rgb(var(--color-main));
  border-radius: var(--radius-circular);
}

.firstRing {
  width: min(29rem, 100%);
  border-width: var(--spacing-size-8);
}

.secondRing {
  width: min(26.5rem, 91%);
  border-width: var(--spacing-size-2);
}

.orbitDot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(29rem, 100%);
  animation: orbitation 10s linear infinite;
}

.orbitDot .dot {
  position: absolute;
  top: 50%;
  left: -0.375rem;
  transform: translateY(-50%);
  width: var(--spacing-size-20);
  background-color: rgb(var(--color-bg));
  border: var(--spacing-size-4) solid rgb(var(--color-main));
  aspect-ratio: 1;
  border-radius: var(--radius-circular);
  animation: pulse 2s ease-in-out infinite;
}

@keyframes orbitation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.profileContainer .pic {
  width: min(var(--spacing-size-332), 72%);
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  border: 0.0625rem solid var(--color-main);
  border-radius: var(--radius-circular);
}

.infosContainer {
  max-width: 57vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-size-36);

  @media (max-width: 884px) {
    max-width: 100%;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-8);
}

.titleContainer .name {
  font: var(--font-headline-03);
  color: rgb(var(--color-text));

  @media (max-width: 480px) {
    font: var(--font-headline-04);
  }
}

.titleContainer .function {
  font: var(--font-body-large-regular);
  color: rgb(var(--color-text));

  @media (max-width: 480px) {
    font: var(--font-body-medium-regular);
  }
}

.infosContainer .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-size-24);
}
