.ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secTtl {
  font: var(--gm-h2);
  color: var(--main-05);

  @media (max-width: 767.98px) {
    font: var(--gm-h3);
  }
}

.bdTtl {
  width: 100%;
  border-bottom: var(--bd-line-mn5);
  padding-bottom: var(--sp-4);
}

.gmType {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--sp-128);
  gap: var(--sp-56);
}

.gmBrandsCtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-96);

  @media (max-width: 1080px) {
    flex-direction: column;
    gap: var(--sp-20);
  }
}

.swcs {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--sp-96) 0;
  gap: var(--sp-80);
}

.swcs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/imgs/bg/game-showcase.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.swcs > * {
  z-index: var(--zind-10);
}

.slds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-64);
}
