.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  gap: var(--spacing-size-32);
  background: transparent;
  z-index: var(--zindex-1500);
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: var(--radius-circular);
  background: linear-gradient(rgb(var(--color-bg)), rgb(var(--color-bg)))
      padding-box,
    linear-gradient(180deg, rgb(var(--color-main)), rgb(var(--color-bg)))
      border-box;
  border: solid transparent;
  pointer-events: none;
  will-change: opacity, transform;
  aspect-ratio: 1;
}

.ring:nth-child(n) {
  z-index: calc(12 - var(--ring-index));
}

.ring:nth-child(1) {
  width: 16vw;
  --ring-index: 1;
}

.ring:nth-child(2) {
  width: 18vw;
  --ring-index: 2;
}

.ring:nth-child(3) {
  width: 24vw;
  --ring-index: 3;
}

.ring:nth-child(4) {
  width: 31vw;
  --ring-index: 4;
}

.ring:nth-child(5) {
  width: 34vw;
  --ring-index: 5;
}

.ring:nth-child(6) {
  width: 45vw;
  --ring-index: 6;
}

.ring:nth-child(7) {
  width: 48vw;
  --ring-index: 7;
}

.ring:nth-child(8) {
  width: 50vw;
  --ring-index: 8;
}

.ring:nth-child(9) {
  width: 63vw;
  --ring-index: 9;
}

.ring:nth-child(10) {
  width: 74vw;
  --ring-index: 10;
}

.ring:nth-child(11) {
  width: 100vw;
  --ring-index: 11;
}

.ring:nth-child(1),
.ring:nth-child(7) {
  border-width: var(--spacing-size-2);
}

.ring:nth-child(-2n + 6) {
  border-width: var(--spacing-size-4);
}

.ring:nth-child(3),
.ring:nth-child(5),
.ring:nth-child(n + 8) {
  border-width: var(--spacing-size-8);
}

.btnRing {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid rgb(var(--color-main));
}

.btnRing:nth-child(1) {
  width: max(var(--spacing-size-228), 100%);
  height: var(--spacing-size-80);
  border-radius: var(--radius-24);
  border-width: var(--spacing-size-2);
}

.btnRing:nth-child(2) {
  width: max(var(--spacing-size-216), 100%);
  height: var(--spacing-size-68);
  border-radius: var(--radius-20);
  border-width: 0.0625rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
  z-index: var(--zindex-1000);
}

.titleContainer * {
  -webkit-text-stroke: var(--spacing-size-12) rgb(var(--color-bg));
  paint-order: stroke fill;
}

.titleContainer .title {
  font: var(--font-headline-01);
  color: rgb(var(--color-title));
  background-color: var(--color-bg);
  text-align: center;
  z-index: var(--zindex-10);
  animation: pulse 3s ease-in-out infinite;

  @media (max-width: 884px) {
    font: var(--font-headline-02);
  }

  @media (max-width: 480px) {
    font: var(--font-headline-03);
  }
}

.titleContainer .desc {
  font: var(--font-body-subtitle);
  color: rgb(var(--color-text));
}

.container .btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-main));
  width: var(--spacing-size-200);
  box-sizing: border-box;
  padding: var(--spacing-size-16) 0;
  border-radius: var(--spacing-size-12);
  transition: var(--transition-default);
  z-index: var(--zindex-1000);
}

.container .btn:hover {
  filter: var(--brightness-dark);
}

.container .btn .label {
  font: var(--font-body-medium-bold);
  color: rgb(var(--color-button-label));
}

.bridge {
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12%;
  z-index: var(--zindex-100);
  width: 100vw;
}
