.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  gap: var(--spacing-size-32);

  @media (max-width: 884px) {
    width: min(var(--spacing-size-640), 85vw);
  }

  @media (max-width: 480px) {
    width: min(var(--spacing-size-256), 80vw);
  }
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid rgb(var(--color-main));
  border-radius: var(--radius-circular);
}

.btnRing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid rgb(var(--color-main) / 0.4);
}

.btnRing:nth-child(1) {
  width: var(--spacing-size-216);
  height: var(--spacing-size-68);
  border-radius: var(--radius-20);
  border-width: 0.0625rem;
}

.btnRing:nth-child(2) {
  width: var(--spacing-size-228);
  height: var(--spacing-size-80);
  border-radius: var(--radius-24);
  border-width: var(--spacing-size-2);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-12);
  z-index: var(--zindex-1000);
}

.titleContainer * {
  -webkit-text-stroke: var(--spacing-size-12) rgb(var(--color-bg));
  paint-order: stroke fill;
}

.titleContainer h1 {
  font: var(--font-headline-01);
  color: rgb(var(--color-title));
  background-color: var(--color-bg);
  text-align: center;
  z-index: var(--zindex-10);
  animation: pulse 3s ease-in-out infinite;

  @media (max-width: 884px) {
    font: var(--font-headline-02);
  }

  @media (max-width: 480px) {
    font: var(--font-headline-03);
  }
}

.titleContainer p {
  font: var(--font-body-subtitle);
  color: rgb(var(--color-text));
}

.container a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-main));
  font: var(--font-body-medium-bold);
  color: rgb(var(--color-button-label));
  min-width: var(--spacing-size-200);
  padding: var(--spacing-size-16) var(--spacing-size-64);
  border-radius: var(--spacing-size-12);
  transition: var(--transition-default);
}

.container a:hover {
  filter: var(--brightness-dark);
}
