.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-20);
}

.container h3 {
  font: var(--font-headline-03);
  color: var(--color-text);
}

.content {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-16);
}

.content img {
  width: 49%;
  aspect-ratio: 440 / 293;
  object-fit: cover;
  border-radius: var(--radius-8);
}
