.link {
  position: relative;
  cursor: pointer;
  min-width: 10.75rem;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-8);
}

.link .icon {
  width: var(--spacing-size-72);
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--color-main));
  border-radius: var(--radius-12);
  transition: var(--transition-default);
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  border: solid rgb(var(--color-main));
  border-radius: var(--radius-circular);
}

.ring:nth-child(1) {
  width: min(8.75rem, 100%);
  border-width: var(--spacing-size-4);
}

.ring:nth-child(2) {
  width: min(var(--spacing-size-120), 86%);
  border-width: 0.0625rem;
}

.link:hover .icon {
  box-shadow: var(--box-shadow);
}

.link .icon * {
  font-size: var(--spacing-size-48);
  color: rgb(var(--color-bg));
}

.name {
  font: var(--font-body-small-bold);
  color: rgb(var(--color-text));
}
