.container {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-12);
  width: var(--spacing-size-144);
  height: var(--spacing-size-56);
  background-color: rgb(var(--color-neutral-04));
  border-radius: var(--radius-8);
  z-index: var(--zindex-3000);
}

.container::before {
  content: "";
  position: absolute;
  top: -8px;
  right: 8px;
  width: 0;
  height: 0;
  border-right: var(--spacing-size-12) solid transparent;
  border-right: var(--spacing-size-12) solid rgb(var(--color-neutral-04));
  border-top: var(--spacing-size-12) solid transparent;
}

.container button {
  cursor: pointer;
  font: var(--font-body-medium-bold);
  color: rgb(var(--color-neutral-01));
  text-transform: uppercase;
  transition: var(--transition-default);
  z-index: var(--zindex-2000);
}

.container button:hover,
.container button.active {
  color: rgb(var(--color-main-01));
}

.container span {
  background-color: rgb(var(--color-neutral-01));
  width: var(--spacing-size-8);
  aspect-ratio: 1 / 1;
  border-radius: var(--radius-circular);
}
