.ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ttl {
  font: var(--def-h1);
  color: var(--neu-04);
  text-shadow: var(--bshw-led-mn2);

  @media (max-width: 768px) {
    font: var(--def-h2);
  }
}

.bd-ttl {
  border-bottom: var(--bd-line-nt4);
  padding-bottom: var(--sp-4);
  width: 100%;
}

.sec-ttl {
  font: var(--def-h2);
  color: var(--neu-04);

  @media (max-width: 768px) {
    font: var(--def-h3);
  }
}

.quint-ttl {
  font: var(--def-h5);
  color: var(--neu-04);
  width: 100%;
}

.subttl {
  font: var(--def-subttl);
  color: var(--neu-04);
}

.body {
  font: var(--def-body);
  color: var(--neu-04);
}

.hdr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  gap: var(--sp-24);
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/header/home.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: 0.15;
  z-index: var(--zind-0);
}

.intro > * {
  max-width: 84vw;
  z-index: var(--zind-10);
}

.logo {
  width: var(--sp-288);

  @media (max-width: 768px) {
    width: var(--sp-112);
  }
}

.txt-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-12);
}

.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--sp-36) 0;
  gap: var(--sp-72);
  margin-top: var(--sp-128);
}

.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/about-me.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.about-me > * {
  max-width: 85vw;
  z-index: var(--zind-10);
}

.abt-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 768px) {
    text-align: center;
    flex-direction: column;
    gap: var(--sp-56);
  }
}

.abt-icn {
  font-size: var(--sp-288);
  color: var(--neu-04);

  @media (max-width: 1080px) {
    font-size: 11.125rem;
  }
}

.abt-txt-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  gap: var(--sp-20);

  @media (max-width: 768px) {
    text-align: center;
    align-items: center;
  }
}

.abt-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-12);
  width: 100%;

  @media (max-width: 768px) {
    text-align: center;
    align-items: center;
  }
}

.portfolio {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: var(--sp-96) 0;
  width: 100%;

  @media (max-width: 1080px) {
    flex-direction: column;
    text-align: center;
    gap: var(--sp-56);
  }
}

.portfolio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/portfolio.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.portfolio > * {
  max-width: 85vw;
  z-index: var(--zind-10);
}

.ptf-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-80);
  width: 50%;

  @media (max-width: 1080px) {
    align-items: center;
  }
}

.ptf-text-ctn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-32);

  @media (max-width: 1080px) {
    align-items: center;
  }
}

.ptf-icn {
  font-size: var(--sp-288);
  color: var(--main-02);

  @media (max-width: 1080px) {
    font-size: 11.125rem;
  }
}

.hobbies {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--sp-96) 0;
  gap: var(--sp-56);
}

.hobbies::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/hobbies.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.hobbies > * {
  max-width: 85vw;
  z-index: var(--zind-10);
}

.hbb-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-48);
}

.hbb-txt-ctn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--sp-32);
}

.hbb-icn-ctn {
  display: flex;
  align-items: center;
  gap: var(--sp-24);

  @media (max-width: 1080px) {
    gap: var(--sp-20);
  }

  @media (max-width: 768px) {
    gap: var(--sp-8);
  }
}

.hbb-icn {
  background-color: var(--neu-01);
  border: var(--bd-mn4);
  border-radius: var(--brad-circ);
  color: var(--main-04);
}

.umb,
.gamepad,
.paint,
.futbol,
.book {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.umb {
  width: 13.125rem; /* 210px */

  @media (max-width: 1080px) {
    width: 10.9375rem; /* 175px */
  }

  @media (max-width: 768px) {
    width: 4.125rem; /* 66px */
  }
}

.book,
.futbol {
  width: 9.625rem; /* 154px */

  @media (max-width: 1080px) {
    width: var(--sp-128);
  }

  @media (max-width: 768px) {
    width: var(--sp-48);
  }
}

.gamepad,
.paint {
  width: 4.8125rem; /* 77px */

  @media (max-width: 1080px) {
    width: var(--sp-64);
  }

  @media (max-width: 768px) {
    width: var(--sp-24);
  }
}

.hbb-icn-lg {
  font-size: 6.625rem; /* 106px */

  @media (max-width: 1080px) {
    font-size: var(--sp-88);
  }

  @media (max-width: 768px) {
    font-size: var(--sp-32);
  }
}

.hbb-icn-md {
  font-size: 4.875rem; /* 78px */

  @media (max-width: 1080px) {
    font-size: var(--sp-64);
  }

  @media (max-width: 768px) {
    font-size: var(--sp-24);
  }
}

.hbb-icn-sm {
  font-size: 2.4375rem; /* 39px */

  @media (max-width: 1080px) {
    font-size: var(--sp-32);
  }

  @media (max-width: 768px) {
    font-size: var(--sp-12);
  }
}
