.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-size-20);
  width: 100%;
  max-width: 47vw;
  min-height: 23.75rem;

  @media (max-width: 884px) {
    max-width: 63vw;
    min-height: 20rem;
  }

  @media (max-width: 480px) {
    max-width: 72vw;
    min-height: 17.5rem;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-8);
}

.titleContainer * {
  z-index: var(--zindex-100);
}

.titleContainer .title {
  font: var(--font-headline-03);
  color: rgb(var(--color-title));
  /* overflow-wrap: anywhere; */

  @media (max-width: 884px) {
    font: var(--font-headline-04);
  }

  @media (max-width: 480px) {
    font: var(--font-headline-05);
  }
}

.titleContainer .time {
  font: var(--font-body-medium-regular);
  color: rgb(var(--color-title));
  opacity: 0.4;

  @media (max-width: 480px) {
    font: var(--font-body-small-regular);
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-12);
  z-index: var(--zindex-100);
}

.itemContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-12);
}

.itemContainer .item {
  font: var(--font-body-medium-regular);
  color: rgb(var(--color-text));

  @media (max-width: 480px) {
    font: var(--font-body-small-regular);
  }
}

.itemContainer .marker {
  width: var(--spacing-size-12);
  aspect-ratio: 1;
  background-color: rgb(var(--color-main));
  border-radius: var(--radius-circular);

  @media (max-width: 480px) {
    width: var(--spacing-size-8);
  }
}

.img {
  position: absolute;
  top: 50%;
  right: -31rem;
  transform: translateY(-50%);
  width: auto;
  height: 100%;
  border-radius: var(--radius-12);
  mask-image: linear-gradient(90deg, transparent, white);
  z-index: var(--zindex-10);
}
