.ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20.25rem;
}

.loadCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--sp-128) 0;
}

.loadSpin {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sp-64);
  color: var(--main-05);
  animation: spin var(--ts-anim) infinite;
}

@keyframes spin {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: var(--sp-96) 0;
}

.cont::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.cont > * {
  z-index: var(--zind-10);
}

.hdr {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--sp-64);
  padding: var(--sp-96) 0;
}

.hdr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.hdr > * {
  z-index: var(--zind-10);
}

.cover {
  width: 45%; /* 512px */
  object-fit: cover;
  border-radius: var(--sp-4);
}

.mnInfosCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-56);
}

.txtCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-24);
  color: var(--neu-04);
}

.ttl {
  font: var(--gm-h1);

  @media (max-width: 767.98px) {
    font: var(--gm-h2);
  }
}

.dev {
  font: var(--gm-subttl);
}

.scoreCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-24);
}

.ratingCtn {
  display: flex;
  align-items: center;
  gap: var(--sp-8);
}

.starCtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sp-40);
  height: var(--sp-40);
}

.star {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sp-40);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.star.normal {
  color: var(--neu-03);
  z-index: var(--zind-1);
}

.star.colored {
  color: var(--aux-03);
  z-index: var(--zind-10);

  /* Preenchimento das estrelas pela porcentagem */
  clip-path: inset(0 calc(100% - var(--fill-width)) 0 0);
}

.mtcrtc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sp-112);
  aspect-ratio: 1 / 1;
  font: var(--gm-h2);
  background-color: var(--meta-color);
  border-radius: var(--brad-20);
}

.infosCtn {
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin-top: var(--sp-96);
  gap: var(--sp-64);

  @media (max-width: 767.98px) {
    align-items: center;
  }
}

.infoTtlCtn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--sp-16);
  color: var(--neu-04);
  border-bottom: var(--bd-line-nt4);
  padding-bottom: var(--sp-4);

  @media (max-width: 767.98px) {
    flex-direction: column;
    text-align: center;
  }
}

.secTtl {
  font: var(--gm-h2);

  @media (max-width: 767.98px) {
    font: var(--gm-h3);
  }
}

.otherTtl {
  font: var(--gm-h3);
  color: var(--neu-04);
  border-bottom: var(--bd-line-nt4);

  @media (max-width: 767.98px) {
    font: var(--gm-h4);
  }
}

.bodyTxt {
  font: var(--gm-body);
  color: var(--neu-04);

  @media (max-width: 767.98px) {
    text-align: center;
  }
}

.infoIcn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sp-48);

  @media (max-width: 767.98px) {
    font-size: var(--sp-40);
  }
}

.secCtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--sp-20);

  @media (max-width: 767.98px) {
    align-items: center;
  }
}

.pltfmCtn,
.gnrCtn {
  display: flex;
  align-items: center;
  gap: var(--sp-12);
  flex-wrap: wrap;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

.pltfm {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--gm-h4);
  background-color: var(--main-04);
  color: var(--neu-04);
  padding: var(--sp-12) var(--sp-48);
  border-radius: var(--brad-8);
}

.gnr {
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--gm-hdr);
  background-color: var(--main-05);
  color: var(--neu-01);
  padding: var(--sp-8) var(--sp-32);
  border-radius: var(--brad-8);
}

.cmplmInfoCtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--sp-20);

  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 767.98px) {
    align-items: center;
    text-align: center;
  }
}

.other {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);

  @media (max-width: 767.98px) {
    align-items: center;
  }
}
