.header {
  position: fixed;
  top: 0;
  visibility: visible;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--sp-28) 0;
  width: 100%;
  transition: var(--ts-def);
  z-index: var(--zind-10000);
}

.header.scrolled {
  background-color: var(--neu-01);
  border-bottom: var(--bd-line-mn1);
}

@keyframes appear {
  from {
    transform: none;
  }
  to {
    transform: translateY(-100%);
  }
}

.link,
.langI,
.menuI,
.menuPg {
  transition: var(--ts-def);
}

.link {
  font: var(--def-hdr);
  color: var(--neu-04);
  text-decoration: none;
}

.homeActive {
  color: var(--main-02);
}

.portfolio {
  background: linear-gradient(var(--main-02), var(--main-02)) bottom / 0 2px
    no-repeat;
}

.portfolio:hover,
.portfolio.active {
  color: var(--main-02);
}

.hobbies {
  background: linear-gradient(var(--main-05), var(--main-05)) bottom / 0 2px
    no-repeat;
}

.hobbies:hover,
.hobbies.active {
  color: var(--main-05);
}

.contacts {
  background: linear-gradient(var(--neu-03), var(--neu-03)) bottom / 0 2px
    no-repeat;
}

.contacts:hover,
.contacts.active {
  color: var(--neu-03);
}

.logoCtn {
  display: flex;
  align-items: center;
  gap: var(--sp-12);
}

.logoI {
  width: var(--sp-56);

  @media (max-width: 768px) {
    width: var(--sp-32);
  }
}

.pages {
  display: flex;
  align-items: center;
  gap: var(--sp-20);

  @media (max-width: 1080px) {
    display: none;
  }
}

.langCtn {
  display: flex;
  align-items: center;
  align-content: end;
  gap: var(--sp-12);

  @media (max-width: 1080px) {
    display: none;
  }
}

.langI {
  width: var(--sp-32);
  border-radius: var(--brad-circ);
  cursor: pointer;

  @media (max-width: 768px) {
    width: var(--sp-20);
  }
}

.langI:hover,
.langI.active {
  box-shadow: var(--bshw-led-mn2);
}

.menuI {
  display: none;
  font-size: 3.625rem;
  color: var(--neu-04);
  cursor: pointer;

  @media (max-width: 1080px) {
    display: flex;
  }

  @media (max-width: 768px) {
    font-size: var(--sp-32);
  }
}

.menuI:hover {
  color: var(--main-01);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 100vh;
  padding: 67px var(--sp-64);
  background-color: var(--neu-01);
  gap: var(--sp-128);
  z-index: var(--zind-1000);

  @media (max-width: 768px) {
    width: 60vw;
    padding: 67px var(--sp-40);
  }
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: var(--rgba-bk50);
  z-index: var(--zind-1);
}

.menu-overlay.show {
  visibility: visible;
}

.menuClose {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-01);
  font-size: var(--sp-32);
  z-index: var(--zind-10000);
  top: var(--sp-12);
  right: var(--sp-12);
  cursor: pointer;
}

.menuLangCtn {
  position: absolute;
  top: var(--sp-24);
  left: var(--sp-24);
  display: flex;
  align-items: center;
  gap: var(--sp-12);

  @media (max-width: 768px) {
    top: 12px;
    left: 12px;
  }
}

.menu > nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--sp-56);
}

.menuPages {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--sp-12);
}

.menuPg:hover,
.menuPg.active {
  color: var(--main-01);
}

.navTtl {
  width: 100%;
  font: var(--def-h2);
  color: var(--main-01);
  padding-bottom: 2px;
  border-bottom: var(--bd-line-mn1);

  @media (max-width: 768px) {
    font: var(--def-h5);
  }
}

.menuLogo {
  width: 12.25rem;

  @media (max-width: 768px) {
    width: var(--sp-88);
  }
}
