.ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-20);
  z-index: var(--zind-1000);
}

.line {
  height: var(--sp-4);
  outline: none;
  border: none;
}

.one {
  width: var(--sp-144);
}

.two {
  width: var(--sp-88);
}

.three {
  width: var(--sp-56);
}
