.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(var(--color-neutral-04) / 0.9);
  backdrop-filter: blur(8px);
  padding: var(--margin-desktop);
  padding-top: var(--spacing-size-20) !important;
  padding-bottom: var(--spacing-size-20) !important;
  z-index: var(--zindex-3000);

  @media (max-width: 884px) {
    padding: var(--margin-tablet);
  }

  @media (max-width: 480px) {
    padding: var(--margin-mobile);
  }
}

.logo {
  cursor: pointer;
  width: auto;
  height: var(--spacing-size-36);

  @media (max-width: 480px) {
    height: var(--spacing-size-20);
  }
}

.logo .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: var(--transition-default);
}

.logo:hover .img {
  filter: var(--brightness-dark);
  box-shadow: var(--shadow-background-light);
}

.nav {
  display: block;

  @media (max-width: 884px) {
    display: none;
  }
}

.pagesContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-28);
}

.pagesContainer .page a {
  font: var(--font-body-medium-bold);
  text-transform: uppercase;
  color: rgb(var(--color-neutral-01));
  transition: var(--transition-default);
}

.pagesContainer .page a:hover {
  color: rgb(var(--color-main-01));
}

.translation {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-size-48);
  aspect-ratio: 1 / 1;
  background-color: rgb(var(--color-main-03));
  border-radius: var(--radius-circular);
  transition: var(--transition-default);

  @media (max-width: 480px) {
    width: var(--spacing-size-28);
  }
}

.translation * {
  font-size: var(--spacing-size-28);
  color: rgb(var(--color-neutral-01));

  @media (max-width: 480px) {
    font-size: var(--spacing-size-16);
  }
}

.translation:hover {
  background-color: rgb(var(--color-main-01));
}

.menuContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-32);
}

.menuIcon {
  cursor: pointer;
  display: none;

  @media (max-width: 884px) {
    display: block;
  }
}

.menuIcon * {
  font-size: var(--spacing-size-28);
  color: rgb(var(--color-neutral-01));
}

.colorDrop {
  position: absolute;
  top: 80px;
  left: 142px;
}

.languageDrop {
  position: absolute;
  top: 80px;
  right: 142px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(var(--color-neutral-04) / 0.6);
  z-index: var(--zindex-1500);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-size-48);
  width: 100%;
  background-color: rgb(var(--color-neutral-04));
  z-index: var(--zindex-2000);
}

.menu .menuPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-8);
}

.menu .menuPages .menuPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-4);
}

.menu .menuPages .menuPage a {
  font: var(--font-body-large-bold);
  color: rgb(var(--color-neutral-01));
  text-transform: uppercase;

  @media (max-width: 480px) {
    font: var(--font-body-medium-bold);
  }
}

.divisor {
  display: flex;
  align-items: center;
  gap: var(--spacing-size-8);
}

.divisor .dot {
  width: var(--spacing-size-8);
  aspect-ratio: 1 / 1;
  background-color: rgb(var(--color-main-02));
  border-radius: var(--radius-circular);
}
