.ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* margin-top: var(--sp-128); */
}

.shwc {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-56);
  margin-top: var(--sp-128);
  padding: var(--sp-96);
}

.shwc::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../assets/imgs/bg/anime-showcase.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.shwc > * {
  z-index: var(--zind-10);
}

.slide-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-64);
}
