.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-size-8);
  padding: var(--spacing-size-28) 0;
  background-color: var(--color-neutral-04);
  color: var(--color-neutral-01);
}

.footer h2 {
  font: var(--font-body-large-bold);

  @media (max-width: 576px) {
    font: var(--font-body-medium-bold);
  }
}

.footer p {
  font: var(--font-body-small-light);
}
