.container {
  position: relative;
  width: var(--spacing-size-36);
  aspect-ratio: 1 / 1;
}

.selected {
  visibility: visible;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: var(--color-main);
  border-style: solid;
  border-radius: var(--radius-circular);
  visibility: hidden;
}

.ringOne {
  width: min(var(--spacing-size-36), 100%);
  aspect-ratio: 1 / 1;
  border-width: var(--spacing-size-2);
  box-shadow: var(--box-shadow);
}

.ringTwo {
  width: min(var(--spacing-size-28), 78%);
  aspect-ratio: 1 / 1;
  border-width: 0.0625rem; /* 1px */
}

.dot {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--spacing-size-12);
  aspect-ratio: 1 / 1;
  background-color: var(--color-main);
  border-radius: var(--radius-circular);
  transition: var(--transition-default);
}

.dot:hover {
  box-shadow: var(--box-shadow);
}
