.ctn {
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 767.98px) {
    flex-direction: column-reverse;
    gap: var(--sp-20);
  }
}

.img {
  width: 27.625rem; /* 442px */
  aspect-ratio: 1 / 1;
  object-fit: cover;

  @media (max-width: 767.98px) {
    width: 14rem; /* 224px */
  }
}

.ttl {
  font: var(--font);
  color: var(--color);

  @media (max-width: 767.98px) {
    font: var(--mb-font);
  }
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-32);
}

.btnCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-20);
}
