.container {
  position: relative;
  display: flex;
  align-items: center;
  align-self: var(--align-self) !important;

  @media (max-width: 480px) {
    align-self: auto;
  }
}

.mainContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-size-32);
  z-index: var(--zindex-100);
  max-width: var(--spacing-size-620);
  min-width: var(--spacing-size-620);
  min-height: 23.75rem;
  width: 100%;
  height: 100%;

  @media (max-width: 884px) {
    max-width: var(--spacing-size-520);
    min-width: var(--spacing-size-520);
  }

  @media (max-width: 480px) {
    max-width: 20rem;
    min-width: 20rem;
  }
}

.symbolContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.symbolContainer * {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid rgb(var(--color-main));
  aspect-ratio: 1;
  z-index: var(--zindex-10);
}

.symbolContainer .diamond {
  width: 16.75rem;
  border-width: var(--spacing-size-2);
  opacity: 0.1;
}

.symbolContainer .circle {
  width: 23.75rem;
  border-radius: var(--radius-circular);
  border-width: var(--spacing-size-4);
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.title {
  font: var(--font-headline-05);
  color: rgb(var(--color-text));
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  gap: var(--spacing-size-40);
}

.tree {
  position: absolute;
  top: 50%;
  left: var(--tree-left);
  right: var(--tree-right);
  transform: rotate(var(--tree-direction));
  width: auto;
  height: var(--spacing-size-160);
  opacity: 0.6;

  @media (max-width: 480px) {
    display: none;
  }
}
