.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: var(--zind-10);
}

.slides-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.slides-ctn {
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 100%;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 100%;
  box-sizing: border-box;
  text-decoration: none;
  align-self: center;
  margin-right: var(--sp-64);
}

.img {
  width: 100%;
  height: auto;
  aspect-ratio: 744 / 394;
  object-fit: cover;
  transition: var(--ts-def);
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rgba-bk80);
  opacity: 0;
  transition: var(--ts-def);
}

.img-wrapper:hover .overlay {
  opacity: 1;
}

.img-name {
  font: var(--def-h5);
  color: var(--neu-04);
}

.img-sklt {
  width: 100%;
  height: 100%;
  aspect-ratio: 744 / 394;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rgba-bk80);
}

.icn-sklt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sp-64);
  color: var(--main-02);
  animation: spin var(--ts-anim) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--sp-64);
  color: var(--neu-04);
  z-index: var(--zind-100);
  transition: var(--ts-def);

  @media (max-width: 1080px) {
    font-size: var(--sp-48);
  }
}

.btn > * {
  transition: var(--ts-def);
}

.btn:hover {
  color: var(--main-02);
}

.btn > *:hover {
  transform: scale(1.1);
}

.btn:disabled {
  color: var(--rgba-bk50);
  cursor: not-allowed;
}

.prev {
  margin-right: var(--sp-16);
}

.next {
  margin-left: var(--sp-16);
}
