/* ---------- Estilos globais ---------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  list-style: none;
  text-decoration: none;
}

:root {
  /* ----- Cores ----- */
  --color-main-01: 74 25 220;
  --color-main-02: 142 112 233;
  --color-main-03: 41 21 102;

  --color-neutral-01: 255 255 255;
  --color-neutral-02: 222 211 255;
  --color-neutral-03: 0 0 8;
  --color-neutral-04: 0 0 0;

  --color-opacity-main-01_40: rgb(--color-main-01 / 0.4);
  --color-opacity-main-01_80: rgb(--color-main-01 / 0.8);
  --color-opacity-main-02_40: rgb(--color-main-02 / 0.4);
  --color-opacity-main-02_80: rgb(--color-main-02 / 0.8);

  /* ----- Fontes -----*/
  --font-family: "Space Grotesk", sans-serif;

  --font-headline-01: 700 5rem var(--font-family); /* 80px */
  --font-headline-02: 700 4rem var(--font-family); /* 64px */
  --font-headline-03: 700 3rem var(--font-family); /* 48px */
  --font-headline-04: 500 2rem var(--font-family); /* 32px */
  --font-headline-05: 500 1.5rem var(--font-family); /* 24px */

  /* 24px */
  --font-body-subtitle: 500 1.5rem var(--font-family);

  /* 20px */
  --font-body-large-regular: 400 1.25rem var(--font-family);
  --font-body-large-bold: 700 1.25rem var(--font-family);

  /* 16px */
  --font-body-medium-regular: 400 1rem var(--font-family);
  --font-body-medium-bold: 700 1rem var(--font-family);

  /* 12px */
  --font-body-small-light: 300 0.75rem var(--font-family);
  --font-body-small-regular: 400 0.75rem var(--font-family);
  --font-body-small-bold: 700 0.75rem var(--font-family);

  /* ----- Efeitos ----- */
  --transition-default: all 0.3s ease-in-out;

  --shadow-default-light: 0 0 0.75rem rgb(--color-main-02 / 0.6);
  --shadow-default-dark: 0 0 0.75rem rgb(--color-main-03 / 0.6);
  --shadow-background-light: 0 0.5rem 1rem rgb(--color-main-02 / 0.4);
  --shadow-background-dark: 0 0.5rem 1rem rgb(--color-neutral-03 / 0.4);

  --background-blur: blur(8px);

  --brightness-light: brightness(0.8);
  --brightness-dark: brightness(1.2);

  /* ----- Espaçamento / Tamanhos ----- */
  --spacing-size-2: 0.125rem; /* 2px */
  --spacing-size-4: 0.25rem; /* 4px */
  --spacing-size-8: 0.5rem; /* 8px */
  --spacing-size-12: 0.75rem; /* 12px */
  --spacing-size-16: 1rem; /* 16px */
  --spacing-size-20: 1.25rem; /* 20px */
  --spacing-size-24: 1.5rem; /* 24px */
  --spacing-size-28: 1.75rem; /* 28px */
  --spacing-size-32: 2rem; /* 32px */
  --spacing-size-36: 2.25rem; /* 36px */
  --spacing-size-40: 2.5rem; /* 40px */
  --spacing-size-44: 2.75rem; /* 44px */
  --spacing-size-48: 3rem; /* 48px */
  --spacing-size-52: 3.25rem; /* 52px */
  --spacing-size-56: 3.5rem; /* 56px */
  --spacing-size-60: 3.75rem; /* 60px */
  --spacing-size-64: 4rem; /* 64px */
  --spacing-size-68: 4.25rem; /* 68px */
  --spacing-size-72: 4.5rem; /* 72px */
  --spacing-size-76: 4.75rem; /* 76px */
  --spacing-size-80: 5rem; /* 80px */
  --spacing-size-84: 5.25rem; /* 84px */
  --spacing-size-88: 5.5rem; /* 88px */
  --spacing-size-92: 5.75rem; /* 92px */
  --spacing-size-96: 6rem; /* 96px */
  --spacing-size-100: 6.25rem; /* 100px */
  --spacing-size-104: 6.5rem; /* 104px */
  --spacing-size-108: 6.75rem; /* 108px */
  --spacing-size-112: 7rem; /* 112px */
  --spacing-size-116: 7.25rem; /* 116px */
  --spacing-size-120: 7.5rem; /* 120px */
  --spacing-size-124: 7.75rem; /* 124px */
  --spacing-size-136: 8.5rem; /* 136px */
  --spacing-size-144: 9rem; /* 144px */
  --spacing-size-156: 9.75rem; /* 156px */
  --spacing-size-160: 10rem; /* 156px */
  --spacing-size-200: 12.5rem; /* 200px */
  --spacing-size-204: 12.75rem; /* 204px */
  --spacing-size-224: 14rem; /* 224px */
  --spacing-size-232: 15rem; /* 232px */
  --spacing-size-236: 15.75rem; /* 236px */
  --spacing-size-256: 16rem; /* 256px */
  --spacing-size-260: 16.25rem; /* 260px */
  --spacing-size-292: 18.25rem; /* 292px */
  --spacing-size-312: 19.5rem; /* 312px */
  --spacing-size-332: 20.75rem; /* 332px */
  --spacing-size-352: 21rem; /* 352px */
  --spacing-size-364: 22.75rem; /* 364px */
  --spacing-size-400: 25rem; /* 400px */
  --spacing-size-432: 27rem; /* 432px */
  --spacing-size-440: 27.5rem; /* 440px */
  --spacing-size-448: 28rem; /* 448px */
  --spacing-size-520: 32.5rem; /* 520px */
  --spacing-size-580: 36.25rem; /* 580px */
  --spacing-size-584: 36.5rem; /* 584px */
  --spacing-size-620: 38.75rem; /* 620px */
  --spacing-size-628: 39.25rem; /* 628px */
  --spacing-size-640: 40rem; /* 640px */
  --spacing-size-644: 40.25rem; /* 644px */

  /* ----- Bordas ----- */
  --border-main-01: 0.125rem solid var(--color-main-01); /* 2px */
  --border-main-02: 0.125rem solid var(--color-main-02); /* 2px */

  --radius-8: 0.5rem; /* 8px */
  --radius-12: 0.75rem; /* 12px */
  --radius-16: 1rem; /* 16px */
  --radius-96: 6rem; /* 96px */
  --radius-circular: 50%; /* Circular */

  /* ----- Margem ----- */
  --margin-desktop: 0 6rem; /* 0 96px */
  --margin-tablet: 0 4rem; /* 0 64px */
  --margin-mobile: 0 2rem; /* 0 32px */

  /* ----- Z-Index ----- */
  --zindex-1: 1;
  --zindex-10: 10;
  --zindex-100: 100;
  --zindex-500: 500;
  --zindex-1000: 1000;
  --zindex-1500: 1500;
  --zindex-2000: 2000;
}

/* ----- Tema claro ------ */
:root[data-theme="light"] {
  --color-bg: var(--color-neutral-02);
  --color-title: var(--color-neutral-03);
  --color-text: var(--color-neutral-04);
  --color-main: var(--color-main-02);
  --color-opacity_40: var(--color-opacity-main-02_40);
  --color-opacity_80: var(--color-opacity-main-02_80);
  --border-main: var(--border-main-02);
  --box-shadow: var(--shadow-default-dark);
  --background-shadow: var(--shadow-background-dark);
  --linear-gradient: var(--color-gradient-light);
  --linear-gradient-floor: var(--color-gradient-light-floor);
  --filter-brightness: var(--brightness-light);
}

/* ----- Tema escuro ------ */
:root[data-theme="dark"] {
  --color-bg: var(--color-neutral-03);
  --color-title: var(--color-neutral-02);
  --color-text: var(--color-neutral-01);
  --color-main: var(--color-main-01);
  --color-opacity_40: var(--color-opacity-main-01_40);
  --color-opacity_80: var(--color-opacity-main-01_80);
  --border-main: var(--border-main-01);
  --box-shadow: var(--shadow-default-light);
  --background-shadow: var(--shadow-background-light);
  --linear-gradient: var(--color-gradient-dark);
  --linear-gradient-floor: var(--color-gradient-dark-floor);
  --filter-brightness: var(--brightness-dark);
}

/* ----- Scrollbar ----- */
body::-webkit-scrollbar {
  width: var(--spacing-size-16);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
  border-radius: var(--radius-12);
  border: var(--spacing-size-4) solid var(--color-bg);
}

body::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

/* ----- Classes globais ----- */
.section-container {
  position: relative;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-size-64);
  padding: var(--spacing-size-48) 0;

  @media (max-width: 576px) {
    width: 80vw;
    gap: var(--spacing-size-32);
  }
}
