.ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem; /* 10px */
}

.pgssCtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-12);

  @media (max-width: 768px) {
    align-items: center;
  }
}

.ttl {
  font: var(--def-h5);
  color: var(--neu-04);

  @media (max-width: 768px) {
    font: var(--def-hdr);
    text-align: center;
  }
}

.pgssBar {
  width: 85vw;
  height: var(--sp-32);
  appearance: none;
}

.pgssBar::-webkit-progress-bar {
  background-color: var(--pgss-bg-color);
  border-radius: var(--brad-32);
  padding: var(--sp-8);
}

.pgssBar::-webkit-progress-value {
  background-color: var(--pgss-color);
  border-radius: var(--brad-32);
}

.concluCtn {
  width: 85vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--neu-04);
}

.date {
  font: var(--def-cpt);
}

.pgss {
  font: var(--def-body);
}
