.ctn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.secTtl {
  font: var(--def-h2);
  color: var(--main-02);
  text-align: center;

  @media (max-width: 768px) {
    font: var(--def-h3);
  }
}

.crsThrdTtl {
  font: var(--def-h3);
  color: var(--neu-04);
  text-align: center;

  @media (max-width: 768px) {
    font: var(--def-h4);
  }
}

.tech {
  text-shadow: var(--bshw-led-mn2);
}

.mec {
  text-shadow: var(--bshw-led-mn5);
}

.ttlBrd {
  width: 100%;
  border-bottom: var(--bd-line-mn2);
  padding-bottom: var(--sp-4);
}

/* Estilos da seção Cursos */

.crs {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--sp-48) var(--sp-88);
  gap: var(--sp-56);
  margin-top: var(--sp-128);

  @media (max-width: 1080px) {
    padding: var(--sp-48) var(--sp-64);
  }

  @media (max-width: 768px) {
    padding: var(--sp-48) var(--sp-40);
  }
}

.crs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/it.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.crs > * {
  z-index: var(--zind-10);
}

.allCrsCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-64);
}

.crsCtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-48);
}

.crsTtlCtn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--sp-16);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.crsIcn {
  font-size: var(--sp-72);
  color: var(--neu-04);

  @media (max-width: 768px) {
    font-size: var(--sp-48);
  }
}

.crsSpecCrs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.75rem; /* 44px */
}

/* Estilos da seção Escolas */

.sch {
  position: relative;
  display: flex;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--sp-48) var(--sp-88);
  gap: var(--sp-56);

  @media (max-width: 1080px) {
    padding: var(--sp-48) var(--sp-64);
  }

  @media (max-width: 768px) {
    padding: var(--sp-48) var(--sp-40);
  }
}

.sch::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/schools.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.sch > * {
  z-index: var(--zind-10);
}

.schCardCtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1080px) {
    flex-direction: column;
    justify-content: none;
    gap: var(--sp-56);
  }
}

/* Estilos da seção Habilidades */

.skls {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-56);
}

.sklsAllCtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-64);
}

.sklsCtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-48);
}

.sklsTtl {
  width: 100%;
  font: var(--def-h3);
  color: var(--neu-04);
  padding-bottom: var(--sp-4);
  border-bottom: var(--bd-line-nt4);
}

.sklsSpecCtn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--sp-32);
}

/* Estilos da seção Projetos */

.pjts {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-28);
  padding: var(--sp-48) var(--sp-88);

  @media (max-width: 1080px) {
    padding: var(--sp-48) var(--sp-64);
  }

  @media (max-width: 768px) {
    padding: var(--sp-48) var(--sp-40);
  }
}

.pjts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/projects.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.pjts > * {
  z-index: var(--zind-10);
}

/* Estilos da seção Curriculum Vitaw */

.crr {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: var(--sp-96) var(--sp-88);

  @media (max-width: 1080px) {
    flex-direction: column;
    padding: var(--sp-48) var(--sp-64);
    gap: var(--sp-56);
  }

  @media (max-width: 768px) {
    padding: var(--sp-48) var(--sp-40);
  }
}

.crr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/bg/curriculum.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  opacity: var(--op-10);
  z-index: var(--zind-0);
}

.crr > * {
  z-index: var(--zind-10);
}

.crrCont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-48);

  @media (max-width: 1080px) {
    width: 100%;
    align-items: center;
  }
}

.crrTxtCtn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sp-24);
}

.crrTtl {
  font: var(--def-h2);
  color: var(--main-02);
  text-align: left;

  @media (max-width: 1080px) {
    font: var(--def-h3);
  }

  @media (max-width: 1080px) {
    text-align: center;
  }
}

.crrSubttl {
  font: var(--def-subttl);
  color: var(--neu-04);
  text-align: left;

  @media (max-width: 1080px) {
    text-align: center;
  }
}

.crrIcn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--sp-200);
  color: var(--main-02);
}
