.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.375rem; /* 198px */
  background-color: transparent;
  cursor: pointer;
  padding: var(--sp-20) 0;
  color: var(--btn-color);
  font: var(--def-btn);
  border: var(--btn-border);
  border-radius: var(--brad-32);
  box-shadow: none;
  transition: var(--ts-def);
}

.btn:hover {
  filter: brightness(1.5);
  background-color: var(--btn-color);
  color: var(--neu-04);
  box-shadow: var(--btn-box-shadow);
}

.btn:active {
  background-color: var(--btn-active);
}
