.cardsContainer {
  max-width: 85vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-size-32) var(--spacing-size-16);

  @media (max-width: 884px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    max-width: 80vw;
    grid-template-columns: repeat(1, 1fr);
  }
}
